:root {
  --ha-primary-color: #c91212;
  --ha-light-background-color: #faeded;
  --ha-white-color: #ffffff;
  --ha-icon-colr: #9b9797;
  --ha-login-btn-color: #00bfff;
  --ha-login-btn-hover-color: #059fd3e8;
  --ha-gray-color: #808080;
  --ha-price-color: #008600;
}
