@import url(color.css);

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.h-home-container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas:
    "home-header"
    "h-home-banner"
    "home-main"
    "h-home-belowimg"
    "h-footer";
}

.home-header {
  background-color: rgb(252, 252, 252);
  grid-area: home-header;
  box-shadow: 0 6px 6px -4px var(--pd-default-color);
}

.h-home-banner {
  text-align: center;
  padding: 1rem 7rem 1rem 7rem;
}
.home-main {
  grid-area: home-main;
}
.h-home-belowimg {
  grid-area: h-home-belowimg;
}
.h-footer {
  grid-area: h-footer;
  background-color: rgb(201, 18, 18);
}

.home-header {
  margin-bottom: auto;
}
.h-nav-container {
  display: flex;
  justify-content: space-between;
}
.h-logo {
  padding: 3rem 0 2rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(201, 18, 18);
}
.h-logo a {
  text-decoration: none;
  color: rgb(201, 18, 18);
}
.search-wrapper {
  padding: 2rem 2rem;
}
.h-search-box {
  background-color: rgb(231, 231, 229);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  gap: 10px;
}
.h-search-button {
  cursor: pointer;
}

.h-search-button > i {
  font-size: 20px;
}

.h-search-text {
  padding-right: 8rem;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
}

.h-nav-icons {
  color: var(--pd-default-color);
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  padding: 2rem 4rem 2rem 0;
  gap: 20px;
  align-items: center;
}

.h-nav-icons a {
  color: var(--pd-default-color);
}
.h-nav-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--pd-default-color);
  color: white;
  cursor: pointer;
  border: none;
}

.h-text-container {
  background-color: rgb(201, 18, 18);
}
.h-categ-text {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.h-categ-btn {
  padding-bottom: 1rem;
}
.h-categ-btn .h-nav-btn {
  padding: 0.5rem 2rem;
  margin: 0 0.5rem 0 0.5rem;
  background-color: white;
  color: rgb(201, 18, 18);
  font-weight: bold;
}

/* .h-categ-btn .h-nav-btn a {
  text-decoration: none;
  color: rgb(201, 18, 18);
} */
.h-img-container {
  padding: 0 7rem;
}

.main-image {
  width: 100%;
}

.below-image-container {
  display: flex;
  padding: 0 7rem 1rem 7rem;
  gap: 2rem;
}

.h-image-wrapper {
  padding: 2rem;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  width: 100%;
  background-color: gray;
  color: white;
}

.below-imgone {
  flex-basis: 0;
  flex-grow: 1;
}
.below-imgone img {
  width: 100%;
}
.below-img-text {
  flex-grow: 1;
  flex-basis: 0;
}
.below-img-text h4 {
  padding-bottom: 4.8rem;
}

/* footer */

.h-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-heading,
.h-footer small {
  color: white;
  padding: 0.7rem 0;
}
.h-footer-icons {
  display: flex;
  gap: 1rem;
}

.h-footer-icons .link > i {
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  align-items: center;
  justify-items: center;
  color: white;
}

/* Login Page */

.h-login-container {
  border: 1px solid #00bfff;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem;
}

.h-input-text {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.h-input-text label,
.login-check,
.login-bottom-text {
  font-size: 1.2rem;
}

.login-bottom-text a {
  text-decoration: none;
  color: #00bfff;
}
.h-input-text input {
  /* border: none; */
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 9rem 0.5rem 0.5rem;
  font-size: large;
}

.login-check {
  display: flex;
  padding-bottom: 1rem;
}

.login-check div {
  flex-basis: 0;
  flex-grow: 1;
}

.login-check a {
  text-decoration: none;
  color: #00bfff;
}

.h-login-btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #00bfff;
  color: white;
}
.login-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

/* cart page */

.h-cart-container {
  padding: 0 3rem 0 9rem;
  display: flex;
}

.h-imagecart-wrapper {
  width: 40%;
  display: flex;
  background-color: rgb(226, 220, 220);
}

.image-cart img {
  width: 100%;
}
.image-text {
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
}
.image-text h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.3rem;
}
.image-cart-btn {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.image-cart-btn button {
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.remove-btn {
  background-color: gray;
  color: white;
}

.h-price-box {
  width: 30%;

  background-color: rgb(247, 244, 244);
  padding: 1.5rem;
  line-height: 3rem;
}

.item-pricee {
  display: flex;
  flex-direction: row;
}
.total-price {
  font-weight: bold;
}

.item-pricee p:last-child {
  margin-left: auto;
}
.cart-price {
  font-weight: bold;
}

.blank-div {
  border: 1px solid gray;
}

.price-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: #00bfff;
  color: white;
}
