* {
  box-sizing: border-box;
}

.h-home-container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas:
    "home-header"
    "home-categories"
    "home-main"
    "footer";
}

.home-header {
  background-color: rgb(216, 204, 204);
  grid-area: home-header;
}

.home-categories {
  padding: 0rem 7rem 0 7rem;
  grid-area: home-categories;
}
.home-main {
  grid-area: home-main;
}
footer {
  grid-area: footer;
}

.home-header {
  margin-bottom: auto;
}
.h-nav-container {
  display: flex;
  justify-content: space-between;
}
.h-logo {
  padding: 3rem 0 0 2rem;
  font-weight: bold;
  color: rgb(201, 18, 18);
}

.search-wrapper {
  padding: 2rem 2rem;
}
.h-search-box {
  background-color: rgb(241, 234, 234);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  gap: 10px;
}
.h-search-button {
  cursor: pointer;
}

.h-search-button > i {
  font-size: 20px;
}

.h-search-text {
  padding-right: 8rem;

  border: none;
  background: none;
  outline: none;
  font-size: 16px;
}

.h-nav-icons {
  font-size: 1.5rem;
  display: flex;
  padding: 2rem 4rem 2rem 0;
  gap: 20px;
  align-items: center;
}
.h-nav-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.home-categories {
  text-align: center;
  padding: 0 0 1rem 0;
}

.h-text-container {
  background-color: rgb(201, 18, 18);
}
.h-categ-text {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.h-categ-btn {
  padding-bottom: 1rem;
}
.h-categ-btn .h-nav-btn {
  padding: 1rem 2rem;
  background-color: white;
  color: rgb(201, 18, 18);
  font-weight: bold;
}
.h-img-container {
  padding: 2rem 7rem;
}

.main-image {
  width: 100%;
}

.footer-image-container {
  display: flex;
  padding: 0 7rem 1rem 7rem;
  gap: 2rem;
}

.h-image-wrapper {
  padding: 2rem;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  width: 100%;

  background-color: gray;
  color: white;
}

.footer-imgone {
  flex-basis: 0;
  flex-grow: 1;
}
.footer-imgone img {
  width: 100%;
}
.footer-img-text {
  flex-grow: 1;
  flex-basis: 0;
}
.footer-img-text h4 {
  padding-bottom: 4.8rem;
}

/* Login Page */

.h-login-container {
  border: 1px solid #00bfff;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem;
}

.h-input-text {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.h-input-text label,
.login-check,
.login-bottom-text {
  font-size: 1.2rem;
}
.h-input-text input {
  /* border: none; */
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 9rem 0.5rem 0.5rem;
  font-size: large;
}

.login-check {
  display: flex;
  padding-bottom: 1rem;
}

.login-check div {
  flex-basis: 0;
  flex-grow: 1;
}

.login-check a {
  text-decoration: none;
  color: #00bfff;
}

.h-login-btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #00bfff;
  color: white;
}
.login-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
